/source/WebsiteValidator/.vs/
/source/WebsiteValidator/WebsiteValidator.BL.Tests/bin/Debug/
/source/WebsiteValidator/WebsiteValidator.BL.Tests/obj/Debug/
/source/WebsiteValidator/WebsiteValidator.BL/bin/Debug/
/source/WebsiteValidator/WebsiteValidator.BL/obj/Debug/
/source/WebsiteValidator/WebsiteValidator.Console/bin/Debug/
/source/WebsiteValidator/WebsiteValidator.Console/obj/Debug/
